<% content_for :title do %>Accueil - BudgetLab <% end %>

<main role="main" class="containtAll">
	<div class="fr-container">
		<div class="fr-my-6w pr">
		    <%= image_tag "bandeau.png", class: "fr-responsive-img fr-hidden fr-unhidden-sm", alt: "" %>
		    <%= image_tag "bandeau.png", class: "fr-responsive-img fr-responsive-img--16x9 fr-hidden-sm", alt: "" %>
		        <!-- L’alternative de l’image (attribut alt) doit toujours être présent, sa valeur peut-être vide ou non selon votre contexte -->
		    <h1 class="texte_img">Des outils innovants au bénéfice<br class="fr-hidden fr-unhidden-sm">de la gestion financière publique</h1>
		</div>
	</div>
	<div class="fr-container ">
		<div class="fr-grid-row fr-grid-row--gutters ">
			<div class="fr-col-12">
				<h2 class="fr-mb-4w">Nos missions</h2>
			</div>
		</div>
		<div class="fr-grid-row fr-grid-row--gutters">
			<div class="fr-col-12 fr-col-lg-4">
				<div class="fr-grid-row fr-grid-row--gutters">
					<div class="fr-col-xs-12 fr-col-lg-2 fr-col-xl-2">
						<span class="fr-icon-lightbulb-line fr-fi--lg cbleu" aria-hidden="true"></span>
					</div>
					<div class="fr-col-xs-12 fr-col-lg-10 fr-col-xl-10">
						<h3 class="fr-text--lg fr-mb-2v">Apporter de l’innovation au sein des métiers </h3>
						<p class="fr-text--sm fr-mb-3w">En outillant numériquement la gestion financière, nous prenons part à la modernisation des métiers budgétaires et de la communauté financière publique.</p>
					</div>
				</div>
			</div>
			<div class="fr-col-12 fr-col-lg-4">
				<div class="fr-grid-row fr-grid-row--gutters">
					<div class="fr-col-xs-12 fr-col-lg-2 fr-col-xl-2">
						<span class="fr-icon-slideshow-line fr-fi--lg cbleu" aria-hidden="true"></span>
					</div>
					<div class="fr-col-xs-12 fr-col-lg-10 fr-col-xl-10">
						<h3 class="fr-text--lg fr-mb-2v">Permettre un pilotage des politiques par la donnée </h3>
						<p class="fr-text--sm fr-mb-3w">Avec nos travaux de centralisation, de nettoyage et de restitution rapide et efficace des données, nos outils facilitent la prise de décision via une vision globale et interactive. </p>
					</div>
				</div>
			</div>
			<div class="fr-col-12 fr-col-lg-4">
				<div class="fr-grid-row fr-grid-row--gutters">
					<div class="fr-col-xs-12 fr-col-lg-2 fr-col-xl-2">
						<span class="fr-icon-medal-line fr-fi--lg cbleu" aria-hidden="true"></span>
					</div>
					<div class="fr-col-xs-12 fr-col-lg-10 fr-col-xl-10">
						<h3 class="fr-text--lg fr-mb-2v">Valoriser les données de la gestion publique </h3>
						<p class="fr-text--sm fr-mb-3w">À l’aide d’algorithmes et d’outils open-source de data-visualisation, nous rendons les données de la gestion publique attractives, réutilisables et intelligibles. </p>
					</div>
				</div>
			</div>
		</div>
		<hr class="fr-grid-row--end fr-col-offset-xs-12 fr-col-offset-12 fr-mb-3w">
	</div>
	<div class="fr-container">
		<div class="fr-grid-row fr-grid-row--gutters">
			<div class="fr-col-12">
				<h2 class="fr-mb-4w">Nos outils développés</h2>
			</div>
		</div>
		<div class="fr-grid-row fr-grid-row--gutters ">
			<div class="fr-col-12 fr-col-lg-4">
				<div class="fr-card fr-enlarge-link">
				    <div class="fr-card__body">
				        <div class="fr-card__content">
				            <h4 class="fr-card__title">
				                <a href="https://www.repere3.finances.gouv.fr/" target="_blank">REPERE3</a>
				            </h4>
				            <p class="fr-card__desc">Outil de redéploiement des effectifs entre programmes destiné aux CBR, aux préfets et aux ministères.</p>
				            <div class="fr-card__start">
				                <ul class="fr-tags-group">
				                    <li>
				                        <p class="fr-tag">CBR</p>
				                    </li>
				                    <li>
				                        <p class="fr-tag">Préfets</p>
				                    </li>
				                </ul>
				               
				            </div>
				        </div>
				    </div>
				    <div class="fr-card__header">
				        <div class="fr-card__img" data-fr-inject-svg>
				            <%= image_tag "Repere3.svg", class: "fr-responsive-img", alt: "" %>
				        </div>
				    </div>
				</div>
			</div>
			
			<div class="fr-col-12 fr-col-lg-4">
				<div class="fr-card fr-enlarge-link">
				    <div class="fr-card__body">
				        <div class="fr-card__content">
				            <h4 class="fr-card__title">
				                <a href="https://budgetlab.finances.gouv.fr/simp3/" target="_blank">SIMP3</a>
				            </h4>
				            <p class="fr-card__desc">Outil de visualisation de la performance des indicateurs MP3 en fonction des services exécutants.</p>
				            <div class="fr-card__start">
				                <ul class="fr-tags-group">
				                    <li>
				                        <p class="fr-tag">Agents publics</p>
				                    </li>
				                </ul>
				               
				            </div>
				        </div>
				    </div>
				    <div class="fr-card__header">
				        <div class="fr-card__img" data-fr-inject-svg>
				            <%= image_tag "simp3.svg", class: "fr-responsive-img", alt: "" %>
				        </div>
				        <ul class="fr-badges-group">
				            <li>
				                <p class="fr-badge fr-badge--green-emeraude">BÊTA</p>
				            </li>
				        </ul>
				    </div>
				</div>
			</div>
			<div class="fr-col-12 fr-col-lg-4">
				<div class="fr-card fr-enlarge-link">
				    <div class="fr-card__body">
				        <div class="fr-card__content">
				            <h4 class="fr-card__title">
				                <a href="#">Avis BOP</a>
				            </h4>
				            <p class="fr-card__desc">Outil de rédaction d’avis à priori et en cours de gestion, destiné aux CBR, DCB et bureaux sectoriels de la DB.</p>
				            <div class="fr-card__start">
				                <ul class="fr-tags-group">
				                    <li>
				                        <p class="fr-tag">CBR</p>
				                    </li>
				                    <li>
				                        <p class="fr-tag">DCB</p>
				                    </li>
				                </ul>
				               
				            </div>
				        </div>
				    </div>
				    <div class="fr-card__header">
				        <div class="fr-card__img" data-fr-inject-svg >
				            <%= image_tag "aviscbr.svg", class: "fr-responsive-img", alt: "" %>
				        </div>
				        <ul class="fr-badges-group">
				            <li>
				                <p class="fr-badge fr-badge--green-emeraude">En cours de construction</p>
				            </li>
				        </ul>
				    </div>
				</div>
			</div>
		</div>
		<hr class="fr-grid-row--end fr-col-offset-xs-12 fr-col-offset-12 fr-mb-6w">
	</div>


	<div class="fr-follow2">
		<div class="fr-container">
			
			<div class="fr-grid-row fr-grid-row--gutters ">
				<div class="fr-col-12 fr-col-md-8">
					<div class="fr-follow__newsletter">
                    <div>
                    	<h2 class="fr-my-4w">L'équipe</h2>
                        <h5 class="fr-h5 fr-follow__title">BudgetLab, une équipe de la 2e sous-direction dirigée par Benoît Laroche de Roussane et Philippe Sauvage.</h5>
                        <p class="fr-text--sm fr-follow__desc">Pour échanger avec nous, partager vos idées ou vos retours d'expériences, contactez-nous par mail en cliquant sur le bouton ci-contre.</p>
                    </div>
                    <div>
                        
                        <a href="mailto:budget.lab@finances.gouv.fr?subject=Contact-BudgetLab" class="fr-btn" rel="noopener" target="_blank" title="Nous contacter - nouvelle fenêtre">Nous contacter</a>
                    </div>
                </div>
				</div>
				<div class="fr-col-12 fr-col-md-4 ">
					<div class="fr-grid-row fr-grid-row2">
					<div class="fr-col-6 tc">
						<figure class="fr-content-media" role="group" aria-label="Alexandra Leschi, Développeuse et ancienne EIG promotion 4">
	    					<div class="fr-content-media__img"><%= image_tag "alexandra.png", class: "fr-responsive-img fr-ratio-1x1", alt: "" %></div>
						</figure>
						<h3 class="fr-text--lg fr-mb-2v ">Alexandra Leschi</h3>
						<p class="fr-text--sm ">Développeuse <br>et ancienne EIG promotion 4</p>
					</div>
					<div class="fr-col-6 tc">
						<figure class="fr-content-media" role="group" aria-label="Lou Vettier, Designeuse et ancienne EIG promotion 4">
	    					<div class="fr-content-media__img"><%= image_tag "lou.png", class: "fr-responsive-img fr-ratio-1x1", alt: "" %></div>
						</figure>
						<h3 class="fr-text--lg fr-mb-2v ">Lou Vettier</h3>
						<p class="fr-text--sm ">Designeuse <br>et ancienne EIG promotion 4</p>
					</div>
					</div>
				</div>
			</div>
			<hr class="fr-grid-row--end fr-col-offset-xs-12 fr-col-offset-12 fr-mb-3w">
		</div>
	</div>

</main>